<div class="panel">
  <div class="panel-heading">
    <h3 class="page-title pull-left">Jobs</h3>

    <div class="pull-right">
      <a [routerLink]="['jobs', 'add']">Add a new job</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="panel-body">
    <div class="alert alert-danger" *ngIf="server && server.error_message && !server.syncing">
      <i class="fa fa-info-circle"></i> {{server.error_message}}
    </div>

    <table class="table table-striped" *ngIf="jobs && jobs.length">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Command</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td>
            <a [routerLink]="['jobs', job.id, 'edit']">
              {{job.name}}
            </a>
          </td>
          <td>{{job.description}}</td>
          <td>{{job.command}}</td>
          <td>
            <a (click)="toggleActive(job)">
              {{job.active ? 'Active' : 'Inactive'}}
            </a>
          </td>
          <td><a (click)="onRemove(job)">Remove</a></td>
        </tr>
      </tbody>
    </table>

    <div class="alert alert-info" *ngIf="isFetched && (!jobs || jobs.length == 0)">
      <i class="fa fa-info-circle"></i> Jobs not found
    </div>
  </div>
</div>
