<div class="sidebar">
  <div class="brand">
    <h3 class="brand-title">
      <a [routerLink]="['/']">CRON Scheduler</a>
    </h3>
  </div>
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li *ngFor="let item of items">
          <a [routerLink]="[item.url]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: item.exact}">
            <i class="lnr {{item.cls}}"></i>
            <span>{{item.name}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <a href="#" (click)="onLogout()" class="footer">
    <i class="lnr lnr-exit"></i>
    <span>Logout</span>
  </a>
</div>
