<div class="sidebar">
  <div class="brand">
    <a [routerLink]="['/']">
      <img src="assets/img/logo.png" alt="CRON Logo" class="img-responsive logo">
    </a>
  </div>
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li *ngFor="let item of items">
          <a [routerLink]="[item.url]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: item.exact}">
            <i class="lnr {{item.cls}}"></i>
            <span>{{item.name}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
