<div class="sidebar">
  <div class="brand">
    <a [routerLink]="['/']">
      <img src="assets/img/logo.png" alt="CRON Logo" class="img-responsive logo">
    </a>
  </div>
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li>
          <a [routerLink]="['/']">
            <i class="lnr lnr-home"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/servers']">
            <i class="lnr lnr-inbox"></i>
            <span>Servers</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
